.emoji_a,
.emoji_b {
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.emoji_a {
  background: url("../assets/emoji_a.png") no-repeat;
}

.emoji_b {
  background: url("../assets/emoji_b.png") no-repeat;
}

span.emojis_0 {
  background-position: 0px 0px !important
}

span.emojis_1 {
  background-position: -24px 0px !important
}

span.emojis_2 {
  background-position: -48px 0px !important
}

span.emojis_3 {
  background-position: -72px 0px !important
}

span.emojis_4 {
  background-position: -96px 0px !important
}

span.emojis_5 {
  background-position: -120px 0px !important
}

span.emojis_6 {
  background-position: -144px 0px !important
}

span.emojis_7 {
  background-position: -168px 0px !important
}

span.emojis_8 {
  background-position: -192px 0px !important
}

span.emojis_9 {
  background-position: -216px 0px !important
}

span.emojis_10 {
  background-position: -240px 0px !important
}

span.emojis_11 {
  background-position: -264px 0px !important
}

span.emojis_12 {
  background-position: -288px 0px !important
}

span.emojis_13 {
  background-position: -312px 0px !important
}

span.emojis_14 {
  background-position: -336px 0px !important
}

span.emojis_15 {
  background-position: 0px -24px !important
}

span.emojis_16 {
  background-position: -24px -24px !important
}

span.emojis_17 {
  background-position: -48px -24px !important
}

span.emojis_18 {
  background-position: -72px -24px !important
}

span.emojis_19 {
  background-position: -96px -24px !important
}

span.emojis_20 {
  background-position: -120px -24px !important
}

span.emojis_21 {
  background-position: -144px -24px !important
}

span.emojis_22 {
  background-position: -168px -24px !important
}

span.emojis_23 {
  background-position: -192px -24px !important
}

span.emojis_24 {
  background-position: -216px -24px !important
}

span.emojis_25 {
  background-position: -240px -24px !important
}

span.emojis_26 {
  background-position: -264px -24px !important
}

span.emojis_27 {
  background-position: -288px -24px !important
}

span.emojis_28 {
  background-position: -312px -24px !important
}

span.emojis_29 {
  background-position: -336px -24px !important
}

span.emojis_30 {
  background-position: 0px -48px !important
}

span.emojis_31 {
  background-position: -24px -48px !important
}

span.emojis_32 {
  background-position: -48px -48px !important
}

span.emojis_33 {
  background-position: -72px -48px !important
}

span.emojis_34 {
  background-position: -96px -48px !important
}

span.emojis_35 {
  background-position: -120px -48px !important
}

span.emojis_36 {
  background-position: -144px -48px !important
}

span.emojis_37 {
  background-position: -168px -48px !important
}

span.emojis_38 {
  background-position: -192px -48px !important
}

span.emojis_39 {
  background-position: -216px -48px !important
}

span.emojis_40 {
  background-position: -240px -48px !important
}

span.emojis_41 {
  background-position: -264px -48px !important
}

span.emojis_42 {
  background-position: -288px -48px !important
}

span.emojis_43 {
  background-position: -312px -48px !important
}

span.emojis_44 {
  background-position: -336px -48px !important
}

span.emojis_45 {
  background-position: 0px -72px !important
}

span.emojis_46 {
  background-position: -24px -72px !important
}

span.emojis_47 {
  background-position: -48px -72px !important
}

span.emojis_48 {
  background-position: -72px -72px !important
}

span.emojis_49 {
  background-position: -96px -72px !important
}

span.emojis_50 {
  background-position: -120px -72px !important
}

span.emojis_51 {
  background-position: -144px -72px !important
}

span.emojis_52 {
  background-position: -168px -72px !important
}

span.emojis_53 {
  background-position: -192px -72px !important
}

span.emojis_54 {
  background-position: -216px -72px !important
}

span.emojis_55 {
  background-position: -240px -72px !important
}

span.emojis_56 {
  background-position: -264px -72px !important
}

span.emojis_57 {
  background-position: -288px -72px !important
}

span.emojis_58 {
  background-position: -312px -72px !important
}

span.emojis_59 {
  background-position: -336px -72px !important
}

span.emojis_60 {
  background-position: 0px -96px !important
}

span.emojis_61 {
  background-position: -24px -96px !important
}

span.emojis_62 {
  background-position: -48px -96px !important
}

span.emojis_63 {
  background-position: -72px -96px !important
}

span.emojis_64 {
  background-position: -96px -96px !important
}

span.emojis_65 {
  background-position: -120px -96px !important
}

span.emojis_66 {
  background-position: -144px -96px !important
}

span.emojis_67 {
  background-position: -168px -96px !important
}

span.emojis_68 {
  background-position: -192px -96px !important
}

span.emojis_69 {
  background-position: -216px -96px !important
}

span.emojis_70 {
  background-position: -240px -96px !important
}

span.emojis_71 {
  background-position: -264px -96px !important
}

span.emojis_72 {
  background-position: -288px -96px !important
}

span.emojis_73 {
  background-position: -312px -96px !important
}

span.emojis_74 {
  background-position: -336px -96px !important
}

span.emojis_75 {
  background-position: 0px -120px !important
}

span.emojis_76 {
  background-position: -24px -120px !important
}

span.emojis_77 {
  background-position: -48px -120px !important
}

span.emojis_78 {
  background-position: -72px -120px !important
}

span.emojis_79 {
  background-position: -96px -120px !important
}

span.emojis_80 {
  background-position: -120px -120px !important
}

span.emojis_81 {
  background-position: -144px -120px !important
}

span.emojis_82 {
  background-position: -168px -120px !important
}

span.emojis_83 {
  background-position: -192px -120px !important
}

span.emojis_84 {
  background-position: -216px -120px !important
}

span.emojis_85 {
  background-position: -240px -120px !important
}

span.emojis_86 {
  background-position: -264px -120px !important
}

span.emojis_87 {
  background-position: -288px -120px !important
}

span.emojis_88 {
  background-position: -312px -120px !important
}

span.emojis_89 {
  background-position: -336px -120px !important
}

span.emojis_90 {
  background-position: 0px -144px !important
}

span.emojis_91 {
  background-position: -24px -144px !important
}

span.emojis_92 {
  background-position: -48px -144px !important
}

span.emojis_93 {
  background-position: -72px -144px !important
}

span.emojis_94 {
  background-position: -96px -144px !important
}

span.emojis_95 {
  background-position: -120px -144px !important
}

span.emojis_96 {
  background-position: -144px -144px !important
}

span.emojis_97 {
  background-position: -168px -144px !important
}

span.emojis_98 {
  background-position: -192px -144px !important
}

span.emojis_99 {
  background-position: -216px -144px !important
}

span.emojis_100 {
  background-position: -240px -144px !important
}

span.emojis_101 {
  background-position: -264px -144px !important
}

span.emojis_102 {
  background-position: -288px -144px !important
}

span.emojis_103 {
  background-position: -312px -144px !important
}

span.emojis_104 {
  background-position: -336px -144px !important
}

span.emojis_105 {
  background-position: 0px -168px !important
}

span.emojis_106 {
  background-position: -24px -168px !important
}

span.emojis_107 {
  background-position: -48px -168px !important
}

span.emojis_108 {
  background-position: -72px -168px !important
}

span.emojis_109 {
  background-position: -96px -168px !important
}

span.emojis_110 {
  background-position: -120px -168px !important
}

span.emojis_111 {
  background-position: -144px -168px !important
}

span.emojis_112 {
  background-position: -168px -168px !important
}

span.emojis_113 {
  background-position: -192px -168px !important
}

span.emojis_114 {
  background-position: -216px -168px !important
}

span.emojis_115 {
  background-position: -240px -168px !important
}

span.emojis_116 {
  background-position: -264px -168px !important
}

span.emojis_117 {
  background-position: -288px -168px !important
}

span.emojis_118 {
  background-position: -312px -168px !important
}

span.emojis_119 {
  background-position: -336px -168px !important
}

span.emojis_120 {
  background-position: 0px -192px !important
}

span.emojis_121 {
  background-position: -24px -192px !important
}

span.emojis_122 {
  background-position: -48px -192px !important
}

span.emojis_123 {
  background-position: -72px -192px !important
}

span.emojis_124 {
  background-position: -96px -192px !important
}

span.emojis_125 {
  background-position: -120px -192px !important
}

span.emojib_0 {
  background-position: 0px 0px !important
}

span.emojib_1 {
  background-position: -24px 0px !important
}

span.emojib_2 {
  background-position: -48px 0px !important
}

span.emojib_3 {
  background-position: -72px 0px !important
}

span.emojib_4 {
  background-position: -96px 0px !important
}

span.emojib_5 {
  background-position: -120px 0px !important
}

span.emojib_6 {
  background-position: -144px 0px !important
}

span.emojib_7 {
  background-position: -168px 0px !important
}

span.emojib_8 {
  background-position: -192px 0px !important
}

span.emojib_9 {
  background-position: -216px 0px !important
}

span.emojib_10 {
  background-position: -240px 0px !important
}

span.emojib_11 {
  background-position: -264px 0px !important
}

span.emojib_12 {
  background-position: -288px 0px !important
}

span.emojib_13 {
  background-position: -312px 0px !important
}

span.emojib_14 {
  background-position: -336px 0px !important
}

span.emojib_15 {
  background-position: 0px -24px !important
}

span.emojib_16 {
  background-position: -24px -24px !important
}

span.emojib_17 {
  background-position: -48px -24px !important
}

span.emojib_18 {
  background-position: -72px -24px !important
}

span.emojib_19 {
  background-position: -96px -24px !important
}

span.emojib_20 {
  background-position: -120px -24px !important
}

span.emojib_21 {
  background-position: -144px -24px !important
}

span.emojib_22 {
  background-position: -168px -24px !important
}

span.emojib_23 {
  background-position: -192px -24px !important
}

span.emojib_24 {
  background-position: -216px -24px !important
}

span.emojib_25 {
  background-position: -240px -24px !important
}

span.emojib_26 {
  background-position: -264px -24px !important
}

span.emojib_27 {
  background-position: -288px -24px !important
}

span.emojib_28 {
  background-position: -312px -24px !important
}

span.emojib_29 {
  background-position: -336px -24px !important
}

span.emojib_30 {
  background-position: 0px -48px !important
}

span.emojib_31 {
  background-position: -24px -48px !important
}

span.emojib_32 {
  background-position: -48px -48px !important
}

span.emojib_33 {
  background-position: -72px -48px !important
}

span.emojib_34 {
  background-position: -96px -48px !important
}

span.emojib_35 {
  background-position: -120px -48px !important
}

span.emojib_36 {
  background-position: -144px -48px !important
}

span.emojib_37 {
  background-position: -168px -48px !important
}

span.emojib_38 {
  background-position: -192px -48px !important
}

span.emojib_39 {
  background-position: -216px -48px !important
}

span.emojib_40 {
  background-position: -240px -48px !important
}

span.emojib_41 {
  background-position: -264px -48px !important
}

span.emojib_42 {
  background-position: -288px -48px !important
}

span.emojib_43 {
  background-position: -312px -48px !important
}

span.emojib_44 {
  background-position: -336px -48px !important
}

span.emojib_45 {
  background-position: 0px -72px !important
}

span.emojib_46 {
  background-position: -24px -72px !important
}

span.emojib_47 {
  background-position: -48px -72px !important
}

span.emojib_48 {
  background-position: -72px -72px !important
}

span.emojib_49 {
  background-position: -96px -72px !important
}

span.emojib_50 {
  background-position: -120px -72px !important
}

span.emojib_51 {
  background-position: -144px -72px !important
}

span.emojib_52 {
  background-position: -168px -72px !important
}

span.emojib_53 {
  background-position: -192px -72px !important
}

span.emojib_54 {
  background-position: -216px -72px !important
}

span.emojib_55 {
  background-position: -240px -72px !important
}

span.emojib_56 {
  background-position: -264px -72px !important
}

span.emojib_57 {
  background-position: -288px -72px !important
}

span.emojib_58 {
  background-position: -312px -72px !important
}

span.emojib_59 {
  background-position: -336px -72px !important
}

span.emojib_60 {
  background-position: 0px -96px !important
}

span.emojib_61 {
  background-position: -24px -96px !important
}

span.emojib_62 {
  background-position: -48px -96px !important
}

span.emojib_63 {
  background-position: -72px -96px !important
}

span.emojib_64 {
  background-position: -96px -96px !important
}

span.emojib_65 {
  background-position: -120px -96px !important
}

span.emojib_66 {
  background-position: -144px -96px !important
}

span.emojib_67 {
  background-position: -168px -96px !important
}

span.emojib_68 {
  background-position: -192px -96px !important
}

span.emojib_69 {
  background-position: -216px -96px !important
}

span.emojib_70 {
  background-position: -240px -96px !important
}

span.emojib_71 {
  background-position: -264px -96px !important
}

span.emojib_72 {
  background-position: -288px -96px !important
}

span.emojib_73 {
  background-position: -312px -96px !important
}

span.emojib_74 {
  background-position: -336px -96px !important
}

span.emojib_75 {
  background-position: 0px -120px !important
}

span.emojib_76 {
  background-position: -24px -120px !important
}

span.emojib_77 {
  background-position: -48px -120px !important
}

span.emojib_78 {
  background-position: -72px -120px !important
}

span.emojib_79 {
  background-position: -96px -120px !important
}

span.emojib_80 {
  background-position: -120px -120px !important
}

span.emojib_81 {
  background-position: -144px -120px !important
}

span.emojib_82 {
  background-position: -168px -120px !important
}

span.emojib_83 {
  background-position: -192px -120px !important
}

span.emojib_84 {
  background-position: -216px -120px !important
}

span.emojib_85 {
  background-position: -240px -120px !important
}

span.emojib_86 {
  background-position: -264px -120px !important
}

span.emojib_87 {
  background-position: -288px -120px !important
}

span.emojib_88 {
  background-position: -312px -120px !important
}

span.emojib_89 {
  background-position: -336px -120px !important
}

span.emojib_90 {
  background-position: 0px -144px !important
}

span.emojib_91 {
  background-position: -24px -144px !important
}

span.emojib_92 {
  background-position: -48px -144px !important
}

span.emojib_93 {
  background-position: -72px -144px !important
}

span.emojib_94 {
  background-position: -96px -144px !important
}

span.emojib_95 {
  background-position: -120px -144px !important
}

span.emojib_96 {
  background-position: -144px -144px !important
}

span.emojib_97 {
  background-position: -168px -144px !important
}

span.emojib_98 {
  background-position: -192px -144px !important
}

span.emojib_99 {
  background-position: -216px -144px !important
}

span.emojib_100 {
  background-position: -240px -144px !important
}

span.emojib_101 {
  background-position: -264px -144px !important
}

span.emojib_102 {
  background-position: -288px -144px !important
}

span.emojib_103 {
  background-position: -312px -144px !important
}

span.emojib_104 {
  background-position: -336px -144px !important
}

span.emojib_105 {
  background-position: 0px -168px !important
}

span.emojib_106 {
  background-position: -24px -168px !important
}

span.emojib_107 {
  background-position: -48px -168px !important
}

span.emojib_108 {
  background-position: -72px -168px !important
}

span.emojib_109 {
  background-position: -96px -168px !important
}

span.emojib_110 {
  background-position: -120px -168px !important
}

span.emojib_111 {
  background-position: -144px -168px !important
}

span.emojib_112 {
  background-position: -168px -168px !important
}

span.emojib_113 {
  background-position: -192px -168px !important
}

span.emojib_114 {
  background-position: -216px -168px !important
}

span.emojib_115 {
  background-position: -240px -168px !important
}

span.emojib_116 {
  background-position: -264px -168px !important
}

span.emojib_117 {
  background-position: -288px -168px !important
}

span.emojib_118 {
  background-position: -312px -168px !important
}

span.emojib_119 {
  background-position: -336px -168px !important
}

span.emojib_120 {
  background-position: 0px -192px !important
}

span.emojib_121 {
  background-position: -24px -192px !important
}

span.emojib_122 {
  background-position: -48px -192px !important
}

span.emojib_123 {
  background-position: -72px -192px !important
}

span.emojib_124 {
  background-position: -96px -192px !important
}

span.emojib_125 {
  background-position: -120px -192px !important
}

span.emojib_126 {
  background-position: -144px -192px !important
}

span.emojib_127 {
  background-position: -168px -192px !important
}

span.emojib_128 {
  background-position: -192px -192px !important
}

span.emojib_129 {
  background-position: -216px -192px !important
}

span.emojib_130 {
  background-position: -240px -192px !important
}

span.emojib_131 {
  background-position: -264px -192px !important
}

span.emojib_132 {
  background-position: -288px -192px !important
}

span.emojib_133 {
  background-position: -312px -192px !important
}

span.emojib_134 {
  background-position: -336px -192px !important
}

span.emojib_135 {
  background-position: 0px -216px !important
}

span.emojib_136 {
  background-position: -24px -216px !important
}

span.emojib_137 {
  background-position: -48px -216px !important
}

span.emojib_138 {
  background-position: -72px -216px !important
}

span.emojib_139 {
  background-position: -96px -216px !important
}

span.emojib_140 {
  background-position: -120px -216px !important
}

span.emojib_141 {
  background-position: -144px -216px !important
}

span.emojib_142 {
  background-position: -168px -216px !important
}

span.emojib_143 {
  background-position: -192px -216px !important
}

span.emojib_144 {
  background-position: -216px -216px !important
}

span.emojib_145 {
  background-position: -240px -216px !important
}

span.emojib_146 {
  background-position: -264px -216px !important
}

span.emojib_147 {
  background-position: -288px -216px !important
}

span.emojib_148 {
  background-position: -312px -216px !important
}

span.emojib_149 {
  background-position: -336px -216px !important
}

span.emojib_150 {
  background-position: 0px -240px !important
}

span.emojib_151 {
  background-position: -24px -240px !important
}

span.emojib_152 {
  background-position: -48px -240px !important
}

span.emojib_153 {
  background-position: -72px -240px !important
}

span.emojib_154 {
  background-position: -96px -240px !important
}

span.emojib_155 {
  background-position: -120px -240px !important
}

span.emojib_156 {
  background-position: -144px -240px !important
}

span.emojib_157 {
  background-position: -168px -240px !important
}

span.emojib_158 {
  background-position: -192px -240px !important
}

span.emojib_159 {
  background-position: -216px -240px !important
}

span.emojib_160 {
  background-position: -240px -240px !important
}

span.emojib_161 {
  background-position: -264px -240px !important
}

span.emojib_162 {
  background-position: -288px -240px !important
}

span.emojib_163 {
  background-position: -312px -240px !important
}

span.emojib_164 {
  background-position: -336px -240px !important
}

span.emojib_165 {
  background-position: 0px -264px !important
}

span.emojib_166 {
  background-position: -24px -264px !important
}

span.emojib_167 {
  background-position: -48px -264px !important
}

span.emojib_168 {
  background-position: -72px -264px !important
}

span.emojib_169 {
  background-position: -96px -264px !important
}

span.emojib_170 {
  background-position: -120px -264px !important
}

span.emojib_171 {
  background-position: -144px -264px !important
}

span.emojib_172 {
  background-position: -168px -264px !important
}

span.emojib_173 {
  background-position: -192px -264px !important
}

span.emojib_174 {
  background-position: -216px -264px !important
}

span.emojib_175 {
  background-position: -240px -264px !important
}

span.emojib_176 {
  background-position: -264px -264px !important
}

span.emojib_177 {
  background-position: -288px -264px !important
}