:root {
  --blue: #0176ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fcf22b;
  --green: #42ba96;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #aab0b7;
  --gray-dark: #343a40;
  --basic: #fff;
  --basic-inverse: #212529;
  --primary: #0176ff;
  --secondary: #edeef6;
  --tertiary: #aab0b7;
  --success: #42ba96;
  --info: #17a2b8;
  --warning: #fcf22b;
  --danger: #dc3545;
  --light: #f5f6fa;
  --dark: #242939;
  --white: #fff;
  --color: #7f808c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: var(--white);
  background: var(--tertiary);
}

html {
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--color);
  font-size: 1.4rem;
  text-align: left;
  height: 100%;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--blue);
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #242939;
}

h1,
.h1 {
  font-size: calc(2rem + 1.05vw);
}

h2,
.h2 {
  font-size: calc(2rem + 0.45vw);
}

h3,
.h3 {
  font-size: calc(2rem + 0.3vw);
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1.03125rem;
}

h6,
.h6 {
  font-size: 1.5rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form {
  .ant-form-item {
    > .ant-form-item-label {
      > label {
        line-height: 1.6 !important;
        color: var(--color) !important;
        font-weight: 400 !important;
      }
    }
  }
}

.ant-radio {
  &:hover {
    .ant-radio-inner {
      border-color: rgb(170, 176, 183) !important;
    }
  }
}
.ant-radio-wrapper {
  color: var(--color);
}
.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: rgba(170, 176, 183, 0.2) 0px 0px 0px 3px;
}
.ant-radio-checked .ant-radio-inner {
  border-color: rgb(170, 176, 183) !important;
  &::after {
    background-color: rgb(170, 176, 183);
  }
  &:hover {
    border-color: rgb(170, 176, 183) !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(170, 176, 183);
  border-color: rgb(170, 176, 183);
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: rgb(170, 176, 183);
}
.ant-checkbox-checked::after {
  border-color: rgb(170, 176, 183);
}
.friendTooltip {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      &::before {
        background: none;
      }
    }

    .ant-tooltip-inner {
      padding: 0;
      background: #fff;

      .menus {
        margin: 0px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2.75rem;
        padding: 0.625rem;
        font-size: 1.275rem;
        color: var(--color);
        min-width: calc(10rem + 4.55vw);
        border: 0px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.475rem;

        .menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px;
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 0.475rem;

          &:hover {
            cursor: pointer;
            background: #f5f6fa;
          }
        }
      }
    }
  }
}

.ant-modal-content {
  border-radius: 0.625rem;

  .ant-modal-header {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }
}

.f-input {
  height: calc(1.6em + 2.5rem + 2px);
  padding: 1.4rem 1.25rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color);
  background-color: #edeef6;
  background-clip: padding-box;
  border: 1px solid #edeef6;
  border-radius: 0.475rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
  &:focus {
    border-color: #edeef6 !important;
    outline: none;
    box-shadow: none;
  }
  &:hover {
    border-color: #edeef6 !important;
  }
}
.f-textarea {
  height: auto;
  padding: 1.4rem 1.25rem;
  font-size: 1.4rem;
  line-height: 1.6;
  border-radius: 0.375rem;
  display: block;
  width: 100%;
  color: #7f808c;
  background-color: #edeef6;
  background-clip: padding-box;
  border: 1px solid #edeef6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
  &:focus {
    border-color: #edeef6 !important;
    outline: none;
    box-shadow: none;
  }
  &:hover {
    border-color: #edeef6 !important;
  }
}
.has-error {
  .f-input {
    &:hover {
      border-color: var(--indigo) !important;
    }
    &:focus {
      border-color: var(--indigo) !important;
    }
  }
  .ant-form-explain {
    color: var(--indigo) !important;
  }
}

.f-pwd,
.f-smsCode {
  input {
    height: calc(1.6em + 2.5rem + 2px);
    transition: border-color 0.15s ease-in-out 0s,
      box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    color: var(--color);
    background-color: rgb(237, 238, 246) !important;
    background-clip: padding-box;
    border: 1px solid rgb(237, 238, 246) !important;
    border-radius: 0.475rem;
    outline: none;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }
}
.f-smsCode {
  position: relative;
  > input {
    padding-right: 12rem !important;
  }
  .ant-input-suffix {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    transform: none;
    > button {
      height: 100%;
      border: none;
      background-color: #edeef6;
      border-left: 1px solid var(--white);
      border-radius: 0 0.475rem 0.475rem 0;
      color: #242939;
    }
  }
}

.f-upload {
  .ant-upload-drag {
    border: none !important;
    background: var(--secondary);
    border-radius: 0.375rem;
  }
}
.avatar-uploader {
  &.hasSrc {
    .ant-upload {
      border: 0 !important;
      &:hover {
        border: 0 !important;
      }
    }
  }
  .ant-upload {
    border-radius: 50%;
    &.ant-upload-select-picture-card {
      &:hover {
        border-color: var(--color);
      }
      .ant-upload {
        padding: 0 !important;
      }
    }
  }
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  animation: none 0 ease 0 1 normal;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1.25rem;

  > input {
    display: block;
    flex: 1 1 0%;
    height: calc(1.6em + 2rem + 2px);
    padding: 0.9375rem 1.25rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(127, 128, 140);
    background-color: rgb(237, 238, 246);
    background-clip: padding-box;
    border: 1px solid rgb(237, 238, 246);
    border-radius: 0.475rem 0px 0px 0.475rem;
    transition: border-color 0.15s ease-in-out 0s,
      box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    outline: none;
  }

  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(1.6em + 1.875rem + 2px);
    color: #7f808c;
    background-color: rgb(237, 238, 246);
    border-radius: 0.475rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
  }
}

.gradient-text {
  background: linear-gradient(
    264.51deg,
    #ffe580 4.38%,
    #ff7571 11.51%,
    #ff7270 25.06%,
    #ea5dad 36.04%,
    #c2a0fd 47.63%,
    #9867f0 59.03%,
    #3bf0e4 69.96%,
    #33ce43 83.74%,
    #b2f4b6 95.62%
  );
  background-position: 58% 50%;
  background-size: 500%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: gradient-shift 30s ease infinite;
  animation: gradient-shift 30s ease infinite;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  padding: 1.2rem 4rem;
  height: auto;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-weight: 600;
  font-size: 14px;
  border: none;
  overflow: hidden;
  background: transparent;
  color: var(--white);
  transition: background 0.4s ease-in-out, border-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
  &:focus {
    color: #fff;
  }

  &::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: background 0.4s ease-in-out;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: -3;
    background: transparent;
    background: linear-gradient(
      264.51deg,
      #ffe580 4.38%,
      #ff7571 11.51%,
      #ff7270 25.06%,
      #ea5dad 36.04%,
      #c2a0fd 47.63%,
      #9867f0 59.03%,
      #42ba96 69.96%,
      #20c997 83.74%,
      #b2f4b6 95.62%
    );
    background-position: 58% 50%;
    background-size: 500%;
    animation: gradient-shift 30s ease infinite;
  }
  &:hover {
    color: #fff;
    &::before {
      background: transparent;
    }
  }
}

.div404,
.div500 {
  &.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 58% 50%;
  }

  25% {
    background-position: 100% 0%;
  }

  75% {
    background-position: 10% 50%;
  }

  100% {
    background-position: 58% 50%;
  }
}

.zoneTooltip {
  .ant-tooltip-arrow::before {
    background-color: rgba($color: #000000, $alpha: 0.85);
  }
  .ant-tooltip-inner {
    padding: 2px 4px;
    background-color: rgba($color: #000000, $alpha: 0.85);
  }
}

.ant-message-notice {
  .ant-message-notice-content {
    padding: 0;
    background: none;
    border-radius: 0.475rem;
    overflow: hidden;
    min-width: 15rem;
    .ant-message-custom-content {
      padding: 1rem 1.6rem;
      &.ant-message-success {
        color: #67c23a;
        background-color: #f0f9eb;
        .anticon {
          color: #67c23a;
        }
      }
      &.ant-message-info {
        color: #909399;
        background-color: #edf2fc;
        .anticon {
          color: #909399;
        }
      }
      &.ant-message-error {
        color: #f56c6c;
        background-color: #fef0f0;
        .anticon {
          color: #f56c6c;
        }
      }
      &.ant-message-warning {
        color: #e6a23c;
        background-color: #fdf6ec;
        .anticon {
          color: #e6a23c;
        }
      }
      &.ant-message-loading {
        background-color: #fff;
      }
    }
  }
}
